<!-- Default home page -->

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Please sign in</h1>

        <a href="/auth/github/" class="btn">with GitHub</a>

        <a href="/auth/facebook/" class="btn">with Facebook</a>

        <a href="/auth/google/" class="btn">with Google+</a>

    </div>
</div>